[user]
	email = madhavramdin@gmail.com
	name = Madhav Ramdin
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
